div.about .info {
    text-shadow: 1px 1px 0 rgba(255, 255, 255, .9);
}

div.about .info p {
    font-size: 1.3rem;
}

div.about .info strong {
    font-size: 1.3rem;
    letter-spacing: 1px;
}

@media screen and (max-width: 991.98px) {
    div.about {
        padding: 100px 10px;
    }
}