@font-face {
    font-family: 'Canela';
    src: url('/fonts/canela.eot');
    src: url('/fonts/canela?#iefix') format('embedded-opentype'),
    url('/fonts/canela.woff') format('woff'),
    url('/fonts/canela.ttf') format('truetype');
}

html, body {
    position: relative;
    min-height: 100%;
    font-family: 'Canela', serif !important;
}

body {
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

::selection {
    background-color: #000;
    color: #fff;
    text-shadow: none;
}

a {
    color: #6d4c40 !important;
    transition: color .2s ease-in-out;
}